<?xml version="1.0" encoding="UTF-8"?>
<service id="xyz.trevisan.marco.ubullet_ubullet">
  <type>sharing</type>
  <name>uBullet</name>
  <icon>uBullet</icon>
  <provider>xyz.trevisan.marco.ubullet_pushbullet-account</provider>
  <translations>account-plugins</translations>
</service>
